// Color Variables
$primary-color: #F4BE34;
$secondary-color: #245719;
$text-color: #5c5c77;
$text-color-light: #343A40;
$text-color-dark: #343A40;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #343A40;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';
